@model EventPlanner.Models.Ticket

<h1>Ticket Verwijderen</h1>

<h4>Weet je zeker dat je dit ticket wilt verwijderen?</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">Event</dt>
        <dd class="col-sm-10">@Model.Event.Name</dd>

        <dt class="col-sm-2">Deelnemer</dt>
        <dd class="col-sm-10">@Model.Participant.Name</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>

    <form method="post">
        <button type="submit" class="btn btn-danger">Verwijder Ticket</button>
        <a href="@Url.Action("Ticketadmin", "Tickets")" class="btn btn-secondary">Annuleren</a>
    </form>
</div>
