@model EventPlanner.Models.Organizer

<h1>Voeg nieuwe organisator toe</h1>

<form method="post">
    <div class="form-group">
        <label for="Name">Organisator naam</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <button type="submit" class="btn btn-primary">Opslaan</button>
    <a href="/Events/Index" class="btn btn-secondary">Cancel</a>
</form>
