@{
    ViewData["Title"] = "Admin";
}

<h1>Beheren</h1>

<a asp-action="Ticketadmin" asp-controller="Tickets" class="btn btn-primary">Tickets beheren</a>

<a asp-action="Eventadmin" asp-controller="Events" class="btn btn-primary">Evenementen beheren</a>